<h1>Users#index</h1>
<!--<p>Find me in app/views/users/index.html.erb</p>-->

<%= render 'books/tenplate',user: @user %>

<table>
 <h1>Users</h1>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tr>
   <td><%= link_to users_path do %>
   <%= image_tag user.get_profile_image(100, 100) %>
   <% end %>
   </td>
   <!--<td><%#= link_to book.title ,book_path(book.id)%></td>-->
   <td><%= user.name %></td>
   <td><%= link_to "Show", user_path(user.id) %></td>
   <% end %>
 </tr>
</table>